**pyc
**swp
**__pycache__
**venv
**config.py
**.cache

#PyCharm project configuration files
.idea

# Compiled python modules.
*.pyc

# Setuptools distribution folder.
/dist/

/*.egg-info
/*.egg

bla.py

# Sphinx templates and build
doc/_build
doc/_static
doc/_templates
doc/.doctrees
