alabaster
aspecd
Babel
certifi
chardet
cycler
docutils
idna
imagesize
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
numexpr
oyaml
packaging
pyDOE
Pygments
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
requests
scipy
six
snowballstemmer
Sphinx
sphinx-theme
sphinxcontrib-websupport
urllib3
