alabaster==0.7.12
aspecd==0.1.0.dev167
Babel==2.6.0
certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
docutils==0.14
idna==2.8
imagesize==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
numexpr==2.6.9
numpy==1.15.4
oyaml==0.7
packaging==18.0
pyDOE==0.3.8
Pygments==2.3.1
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
PyWavelets==1.0.1
PyYAML==3.13
requests==2.21.0
scipy==1.1.0
six==1.11.0
snowballstemmer==1.2.1
-e git+git@gitlab.physchem.uni-freiburg.de:biskup/specprofi-python.git@6ca035363ce3212c7b395f3d9e1db7c854de95f1#egg=SpecProFi
Sphinx==1.8.2
sphinx-theme==1.0
sphinxcontrib-websupport==1.1.0
-e git+git@gitlab.physchem.uni-freiburg.de:biskup/spinpy.git@cedfe051c647e0e4914034f1319809a61e93c3da#egg=SpinPy
-e git+git@gitlab.physchem.uni-freiburg.de:popp/trepr-python.git@1ed7a946c66759e2885d5d1682b5b7ee3eee7502#egg=trepr
urllib3==1.24.1
