-e git+git@gitlab.physchem.uni-freiburg.de:biskup/aspecd-python.git@7c7714235bf04babab85e97396fbea31df600dd7#egg=ASpecD
cycler==0.10.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
numpy==1.15.4
pyparsing==2.3.0
python-dateutil==2.7.5
PyYAML==3.13
six==1.11.0
-e git+git@gitlab.physchem.uni-freiburg.de:popp/trepr-python.git@ad08fc9821a7629461b9491ab15968acb36e6687#egg=trepr
